/*
** ICT 442 - Assignment 1
** February 5th, 2019
*/

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(200,200,200);
    box-sizing: border-box;
    background: url(../images/homepage_background_1920x1080_op85.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 0;
    padding: 0 0;
}

h1 {
    margin: 30px 0;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0px 0px 3px #000;
}

article {
    font-size: 1.2em;
    color: white;   
}

article p {
    text-align: center;
}

#article_home {
    margin-top: 14%;
    text-shadow: 0px 0px 3x #000;
}

footer.static {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -100px;
    opacity: 0.3;
    z-index: 1000;
}

footer.dynamic {
    margin-bottom: 20px;
    text-align: center;
    opacity: 0.3;
    z-index: 1000;
}

/* Style of the link to the www.unsplash.com page */
.unsplash_link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    opacity: 0.3;
    z-index: 1000;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 4px 6px;
    font-family: -apple-system, BlinkMacSystemFont, &quot;
    San Francisco&quot;
    ,
    &quot;
    Helvetica Neue&quot;
    ,
    Helvetica,
    Ubuntu,
    Roboto,
    Noto,
    &quot;
    Segoe UI&quot;
    ,
    Arial,
    sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px;
}

.unsplash_link span {
    display: inline-block;
    padding: 2px 3px;
}

.unsplash_link svg#unsplash_svg_1 {
    height: 12px;
    width: auto;
    position: relative;
    vertical-align: middle;
    top: -2px;
    fill: white;
}

/* Style of the 'Go to top' button */
.go_top-jm {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.8;
    z-index: 1000;
}

.go_top-jm:hover {
    opacity: 1;
}

/* Style of the input box labels*/
label.counter {
    float: left;
    width: 15em;
    margin-bottom: 0.3em;
}

/* Style of the modal window */
.w3-modal-content {
    text-align: center;
    opacity: 0.97;
    text-shadow: 0px 0px 3px #000000;
}

/* Style of the digits created by Javascript */
p.numberRow {
    background-color: rgba(68,41,0,0.4);
    color: white;
    color: rgb(255,152,0);
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    border-radius: 15px;
    border: 1px solid rgba(100,100,100);
    padding: 5px 10px;
    margin: 5px 5px;
}

#numContainer {
    padding: 20px 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.show {display: block;}

.hide {display: none;}
